.contenedor {
  background-color: #d7ed7f46;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 20px;
  place-content: center;
}

.item {
  display: grid;
  background-color: #acd900;
  align-items: end;
}

span {
  display: grid;
  background: #39630c;
  width: 50px;
  height: 60px;
  color: #fff;
  font-family: 'Dosis';
  font-weight: 300;
  font-size: 2rem;
  justify-self: end;
  justify-items: end;
  align-items: end;
}
